#squares-table {
    border: 1px solid dodgerblue;
    border-spacing: 0;
}

#table-and-controls-wrapper {
    display: flex;
}

.control-button {
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 50px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    opacity: 1;
    transition: opacity .2s linear;
}

.squares-table__table-cell {
    background-color: dodgerblue;
    height: 70px;
    width: 70px;
    border: 1px solid white;
    padding: 0;
    min-width: 70px;
}

.control-button span {
    min-height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 70px;
}

#bottom-add-button {
    margin-left: 72px;
}

#left-delete-button-wrapper {
    width: 70px;
    margin: 1px;
}

#top-delete-button-wrapper {
    height: 70px;
    margin: 1px;
}

#top-delete-button, #left-delete-button {
    display: none;
    transition: margin 0.2s, opacity .2s linear;
    background-color: red;
}

#right-add-button, #bottom-add-button {
    background-color: orange;
}

.control-button:hover {
    transition: opacity .2s linear;
    opacity: 0.7;
}
