#squares-table {
    border: 1px solid #46A1E8;
    border-spacing: 0;
    position: relative;
    display: inline-block;
    margin: 55px;
}

.squares-table__table-cell {
    background-color: #46A1E8;
    height: 50px;
    width: 50px;
    padding: 0;
    min-width: 50px;
}

.control-button {
    height: 50px;
    width: 50px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    opacity: 1;
    transition: opacity .2s linear;
    position: absolute;
    /*margin: 2px;*/
}

.control-button span {
    min-height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 50px;

}

.control-button:hover {
    transition: opacity .2s linear;
    opacity: 0.7;
}

.button-delete {
    font-size: 30px;
    font-weight: 100;
    visibility: hidden;
    transition: left .2s, top .2s, opacity .2s linear;
    background-color: #B60406;
}

.button-add {
    font-size: 25px;
    font-weight: 900;
    background-color: #FCA607;
}

.button-delete span {
    min-height: 45px;
}

.button-add-right {
    top: 0;
    left: 100%;
    margin-top: 1px;
    margin-left: 2px;
}

.button-add-bottom {
    top: 100%;
    left: 0;
    margin-left: 1px;
    margin-top: 2px;
}

.button-delete-left {
    right: 100%;
    top: 0;
    margin-right: 2px;
}
.button-delete-top {
    bottom: 100%;
    left: 0;
    margin-bottom: 2px;
}


